<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect root requests to Laravel public/index.php
    RewriteCond %{REQUEST_URI} !^/app-service-laravel/public/
    RewriteRule ^(.*)$ app-service-laravel/public/$1 [L]
</IfModule>
